# Build Artifacts
/target/
*.war
*.jar

# IDE Files
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
.factorypath

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Dependency Caches
/.mvn/
dependency-reduced-pom.xml

# Temporary Files
*.tmp
*.bak
*.swp

# Environment Files
.env
